.nav ul li {
display: inline-block;
margin: 30px;
color: brown;
font-size: 30px;

}   
.cards{
width: 80%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;



}
.card{
width: 25%;
border: 1px solid red;

}
.card img {
width: 100%;
height: 300px;

}
.searchbar
{
    width: 60%;
height: 10px;

}